body{
  padding: 0;
  margin: 0;
  background-image: url(http://www.slackware.com/grfx/shared/background.jpg);
  color: #fafafa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav *{overflow: hidden;}
nav{
  background-color: #aa1414;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nv-cnt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}
.nv-btn{
  display:block;
  width: 100%;
  text-align: center;
  padding: .5rem;
}

.nv-btn:hover{
  background-color: #990404;
}

#nv-btn-cnt{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0.1rem solid #000;
}

#nv-img-cnt{
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

#nv-img-cnt div{
  align-items: center;
  align-content: center;
}

#nv-img-cnt div img{
  height: 8rem;
}

a{
  text-decoration: none;
  color: #fafafa
}
nav marquee{
  background-color: #000;
  color: #fff;
  font-weight: bold;
}
.footer{
  bottom: 0;
  width: 100%;  
  padding: 5% 0 3% 0;
  background-color: #990404;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer-cnt{
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.footer div, .footer div *{
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
#content-body{
  align-self: center;
  text-align: center;
  height: 100%;
  color: #1c1c1c;
  background-color: #aa1414;
  padding: 5rem;
  overflow:hidden;
  margin: auto;
  width: 50%;
}
#content-body h1{
  margin-left:5%;
}
.footer-cnt h1{
  font-size: larger;
}

.nv-cnt #nv-img-cnt div{
  display: flex;
  flex-direction: row;
  margin: 0% 2%;
}

#fade{
  float: right;
  margin: 0;
  padding: 0;
  height: 20rem;
  width: auto;
  margin-bottom: -12rem;
  margin-top: -1rem;
  overflow: hidden;
  mask-image: linear-gradient(to left, rgba(0,0,0,1.0) 0%, transparent 100%);
}


#nv-btn-list{
  display: none;

}

div a:hover + #nv-btn-list,
#nv-btn-list:hover, #nv-btn-list *:hover {
  display: flex;
  flex-direction: column;
  width: auto;
	justify-items:center;
	justify-content: center;
	padding: 0 5rem;
  position:absolute;
  background-color: #aa1414;
  float: none;
}

#content-body{
  margin: 1rem;
  padding: .5rem;
  font-weight: light;
}