* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(http://www.slackware.com/grfx/shared/background.jpg);
  color: #fafafa;
}
nav {
  background-color: #aa1414;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
.nv-cnt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.nv-btn {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.nv-btn:hover {
  background-color: #990404;
  height: 100%;
}

#nv-btn-cnt {
  display: flex;
  flex-direction: row;
  border-top: 0.4rem solid #000;
  border-bottom: 2px solid #000;
  height: 50px;
  align-items: center;
  font-size: 25px;
}
#nv-img-cnt {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #fafafa;
}
a:hover {
  cursor: hand;
}

#hidden-ul {
  display: none;
}
ul li a:hover + #hidden-ul, #hidden-ul:hover {
  display: block;
  border: 3px solid black;
  background-color: #990404;
  float: none;
}

ul li ul li {
  padding: 5px;
}

ul li ul li a:hover {
  color: black;
}
