body {
    height: 100%;
    margin: 0;
}

#content-body {
    display: grid;
    margin: 0;
    grid-column: 1/5;
    color: #1c1c1c;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#titulo-sobre-nosotros {
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    padding: 12% 0% 0% 0%;
    flex-wrap: wrap;
}

#sobre-nosotros {
    display: flex;
    border: 2px solid #E22636;
    border-radius: 10px;
    width: 90%;
    margin: 0% 3% 0% 3%;
    padding: 1%;
    flex-wrap: wrap;
}

.container-foto {
    display: flex;
    padding: 1% 10% 0% 10%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#florida-foto {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10%;
    border: 2px solid #E22636;
    flex-wrap: wrap;
}

#sobre-nosotros-amarillo {
    background-color: #fcb900;
    width: 50%;
}

#sobre-nosotros-rojo {
    background-color: #E22636;
    width: 50%;
    flex-wrap: wrap;
}

#container-sobre-nosotros {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2% 0% 2% 0%;
    flex-wrap: wrap;
}
