body {
    margin: 0;
}

.content-body {
    display: flex;
    justify-content: center;
    grid-column: 1/5;
    grid-row: 2/3;
    color: #1c1c1c;
    flex-wrap: wrap;
    height: auto;
}

@media onlyscreen and (max-width: 600px) {
    .content-body {
        font-size: 5px;
        padding-top: 50vh;
    }
}


#titulo-sobre-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    flex-wrap: wrap;
}

#sobre-nosotros {
    display: flex;
    border: 2px solid #E22636;
    border-radius: 10px;
    width: 90%;
    margin: 0% 3% 0% 3%;
    padding: 1%;
    flex-wrap: wrap;
    font-size: 1em;
}

.container-foto {
    display: flex;
    padding: 1% 10% 0% 10%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#florida-foto {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px solid #E22636;
    flex-wrap: wrap;
}

#sobre-nosotros-amarillo {
    display: flex;
    flex-direction: column;
    background-color: #fcb900;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 330px;
}

#sobre-nosotros-rojo {
    display: flex;
    flex-direction: column;
    background-color: #E22636;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 330px;
}

#container-sobre-nosotros {
    display: flex;
    justify-content: center;
    padding: 2% 0% 2% 0%;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.titulo-cuadrados {
    color: white;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;

}

#education_offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
    text-align: center;
    justify-content: center;
    background-color: rgb(43, 41, 41);
    margin-top: 0;
    width: 100%;
}

.parrafos-cuadrados {
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
}

a button {
    color: white;
    width: auto;
}


button {
    text-align: center;
    width: 50%;
    background-color: transparent;
    border: 0.125em solid white;
    border-radius: 0.9375em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    will-change: transform;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #e98c09;
    font-weight: 900;
    background-color: wheat;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }