body {
    background-image: url('../styles/zyro-image.png');
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {
    background-color: white;
    border: 2px solid #fcb900;
}
.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
 background-color: #E22636;
 color: #fcb900;
}

.btn:active {
 transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}
.btn:hover::after {
 background-color: rgb(255, 30, 0);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}