.content-body-subjects {
    border: 2px solid #fcb900;
    background-color: #E22636;
    margin-top: 25px;
    height: auto;
    margin-bottom: 25px;
    width: auto;
}

.content-subjects {
    font-size: 15px;
    padding: 10px;
}

.title-subjects {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fafafa;
    margin-top: 25px;
    text-decoration: underline;
    font-weight: bold;
}